.games-about-us{
	padding: 70px 0px;
	position: relative;
	background: url("../img/lich-min.jpg") 0 0/cover no-repeat fixed;
	@media(max-width: 500px) {
		padding: 30px 0px;
	}
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 10;
	}
	&__row{
		position: relative;
		z-index: 20;
		display: flex;
		justify-content: space-between;
		@media(max-width: 1050px) {
			flex-direction: column;
		}
	}
	&__column{
		flex: 0 1 35%;
		display: flex;
		flex-direction: column;
		padding: 0px 20px;
		@media(max-width: 1050px) {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
	}
	&__img-wrap{
		flex: 0 1 82px;
		width: 200px;
		position: relative;
		box-shadow: 0 0 7px 0px #000;
		margin-bottom: 25px;
		transition: box-shadow 0.4s ease 0s;
		&:nth-child(2n+1) {
			align-self: flex-end;
			width: 180px;
			flex: 0 1 67px;
		}
		&:nth-child(3n){
			align-self: center;
			width: 220px;
		}
		&:first-child{
			width: 270px;
			flex: 0 1 140px;
		}
		&:last-child{
			width: 260px;
			flex: 0 1 120px;
		}
		a{
			width: 100%;
			height: 100%;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media(min-width: 992px) {
			&:hover{
				box-shadow: 0 0 5px 2px #2EBFFF;
			}
		}
	}
	&__content{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		@media(max-width: 1050px) {
			width: 100%;
			padding: 0px 10px;
		}
		a{
			width: 100%;
			transition: all 0.4s ease 0s;
			font-size: 25px;
			color: rgb(0, 76, 218);
			display: flex;
			align-items: center;
			justify-content: center;
			span{
				margin-right: 10px;
			}
			img{
				transition: all 0.4s ease 0s;
				width: 40px;
				height: 36px;
				position: relative;
			}
			@media(max-width: 500px) {
				font-size: 20px;
				font-weight: 700;
			}
			@media(min-width: 992px) {
				&:hover{
					color: #2EBFFF;
					img{
						margin-left: 15px;
					}
				}
			}
		}
	}
	&__title{
		font-size: 45px;
		color: #fff;
		font-weight: bold;
		margin-bottom: 10px;
		@media(max-width: 500px) {
			font-size: 33px;
		}
	}
	&__text{
		color: #fff;
		font-size: 18px;
		line-height: 120%;
		margin-bottom: 25px;
		max-width: 500px;
		@media(max-width: 500px) {
			margin-bottom: 10px;
		}
	}
}

@media(max-width: 1400px) {
	.games-about-us{
		&__column{
			&_first{
				.games-about-us__img-wrap{
					&:nth-child(n){
						align-self: flex-start;
						width: 260px;
						flex: 0 1 120px;
					}
				}
			}
			&_second{
				.games-about-us__img-wrap{
					&:nth-child(n){
						align-self: flex-end;
						width: 260px;
						flex: 0 1 120px;
					}
				}
			}
		}
	}
}
@media(max-width: 1050px) {
	.games-about-us{
		&__column{
			&_first{
				margin-bottom: 150px;
				.games-about-us__img-wrap{
					&:nth-child(n){
						flex: 0 1 33.333%;
						height: 150px;
					}
				}
			}
			&_second{
				margin-top: 150px;
				.games-about-us__img-wrap{
					&:nth-child(n){
						flex: 0 1 33.333%;
						height: 150px;
					}
				}
			}
		}
	}
}
@media(max-width: 750px) {
	.games-about-us{
		&__column{
			&_first{
				margin-bottom: 200px;
				.games-about-us__img-wrap{
					&:nth-child(n){
						flex: 0 1 50%;
						height: 150px;
					}
				}
			}
			&_second{
				margin-top: 200px;
				.games-about-us__img-wrap{
					&:nth-child(n){
						flex: 0 1 50%;
						height: 150px;
					}
				}
			}
		}
	}
}
@media(max-width: 500px) {
	.games-about-us{
		&__column{
			&_first{
				margin-bottom: 130px;
				.games-about-us__img-wrap{
					&:nth-child(n){
						flex: 0 1 100%;
						height: 150px;
					}
				}
			}
			&_second{
				margin-top: 200px;
				.games-about-us__img-wrap{
					&:nth-child(n){
						flex: 0 1 100%;
						height: 150px;
					}
				}
			}
		}
	}
}
