@keyframes rotation{
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(-10deg);
	}
	50%{
		transform: rotate(0deg);
	}
	75%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

.opportunities-about-us{
	background: #17191C;
	padding: 100px 0;
	overflow: hidden;
	@media(max-width: 1100px) {
		padding: 40px 0;
	}
	@media(max-width: 890px) {
		padding: 20px 0;
	}
	&__row{
		display: flex;
		margin: 0px -20px 20px -20px;
		&.even{
			flex-direction: row-reverse;
		}
		&:last-child{
			margin: 0px -20px 0px -20px;
		}
		@media(max-width: 890px) {
			flex-direction: column-reverse;
			&.even{
				flex-direction: column-reverse;
			}
		}
	}
	&__column{
		flex: 0 1 50%;
		padding: 20px;
		&_content{
			display: flex;
			justify-content: flex-end;
		}
		@media(max-width: 890px) {
			flex: 0 1 100%;
			&_content{
				justify-content: stretch;
				text-align: center;
			}
			padding: 5px 20px 5px 20px;
		}
	}
	&__title{
		font-size: 45px;
		color: #fff;
		font-weight: 700;
		margin-bottom: 15px;
		@media(max-width: 650px) {
			font-size: 33px;
		}
	}
	&__message{
		color: #fff;
		font-size: 17px;
		line-height: 125%;
		margin-bottom: 30px;
		@media(max-width: 890px) {
			margin-bottom: 15px;
		}
	}
	&__link{
		display: flex;
		align-items: center;
		transition: all 0.3s ease 0s;
		color: rgb(0, 76, 218);
		font-size: 25px;
		img{
			transition: all 0.2s ease 0s;
			width: 40px;
			height: 36px;
			margin-left: 10px;
			position: relative;
		}
		@media(min-width: 992px) {
			&:hover{
				color: #2EBFFF;
				img{
					margin-left: 20px;
				}
			}
		}
		@media(max-width: 890px) {
			font-size: 18px;
		}
	}
	&__poster-block{
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			max-width: 350px;
			max-height: 350px;
		}
		&_rotate-img{
			img{
				animation: rotation 32s infinite linear;
			}
		}
		@media(max-width: 650px) {
			img{
				max-width: 200px;
				max-height: 200px;
			}
		}
	}
	&__info{
		max-width: 450px;
		@media(max-width: 890px) {
			max-width: none;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

.opportunities-about-us__row.even{
	.opportunities-about-us__column_content{
		justify-content: flex-start;
	}
}