// Общий стиль фона и Head части
.comments-page-game-block{
	position: relative;
	background: url("../img/backgroundCommentsForGamePage.jpg") 0 0/cover no-repeat fixed;
	height: 100%;
	width: 100%;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #00000079;
		z-index: 2;
	}
	&__container{
		padding-top: 30px;
		position: relative;
		z-index: 100;
	}
	&__head{
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}
	&__title-game{
		font-size: 55px;
		line-height: 32px;
		color: #ffffff;
		margin-bottom: 10px;
	}
	&__link{
		align-self: flex-end;
		transition: background 0.4s ease 0s, border 0.3s ease 0s, opacity 0.3s ease 0s;
		font-size: 15px;
		font-weight: 500;
		padding: 15px;
		background: none;
		border: 1px solid #2EBFFF;
		color: #ffffff;
		min-width: 200px;
		box-shadow: 0 0 3px 0px #000;
		border-radius: 8px !important;
		@media(min-width: 992px) {
			&:hover{
				background: rgb(0, 76, 218);
				border: 1px solid rgb(0, 76, 218);
			}
		}
	}
	&__message-middle{
		margin-top: 25px;
		img{
			width: 100px;
			height: 100px;
		}
		.lite-message__title{
			font-size: 22px;
			font-weight: 700;
		}
		.lite-message__offer{
			max-width: 500px;
			font-size: 17px;
			line-height: 115%;
			font-weight: 500;
			color: #c2c2c2;
		}
	}
	&__list-container{
		padding: 50px 0px;
	}
}

// Стили для панели фильтрации
.filters-panel-comments{
	&__title{
		color: #ffffff;
		text-transform: uppercase;
		font-size: 27px;
		margin-bottom: 15px;
	}
	&__row{
		display: flex;
		border-top: 2px solid rgb(0, 76, 218);
		background-color: rgba( 0, 0, 0, 0.4 );
		box-shadow: 0 0 3px 0px #000;
	}
	&__column{
		transition: border 0.3s ease 0s, background 0.3s ease 0s;
		flex: 0 1 33.333%;
		padding: 15px 20px;
		position: relative;
		border-bottom: 2px solid transparent;
		&.active{
			border-bottom: 2px solid rgb(0, 76, 218);
			background: #ffffff30;
		}
		@media(min-width: 992px) {
			&:hover{
				background: #ffffff30;
			}
		}
	}
	&__btn-filter{
		color: #ffffff;
		font-size: 17px;
		font-weight: 700;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	&__list-modal{
		transition: opacity 0.2s ease 0s;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 105%;
		left: 0;
		z-index: -1;
		background: #32343b;
		border: 1px solid #6b6b6b;
		box-shadow: 0 0 3px 0px #000;
		min-width: 250px;
		&.active{
			opacity: 1;
			z-index: 50;
			visibility: visible;
		}
	}
	&__btn-modal{
		transition: background 0.3s ease 0s;
		color: #ffffff;
		font-size: 17px;
		padding: 15px;
		width: 100%;
		text-align: left;
		@media(min-width: 992px) {
			&:hover{
				background: #2EBFFF;
			}
		}
		&.active{
			background: #2EBFFF;
		}
	}
}

.list-comments-page {
	&__line-comment{
		display: flex;
		margin: 0px -10px 25px -10px;
		.extended-comment{
			flex: 0 1 50%;
			margin: 0px 10px;
			// &__content-right{
			// 	min-height: 100%;
			// }
			&__row-left-column{
				flex-direction: column;
				align-items: center;
			}
			&__avatar-container{
				margin: 0px 0px 15px 0px;
			}
		}
	}
}