.comments-game-block{
	&__head-section-comments{
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__comments-title{
		color: #ffffff;
		font-size: 24px;
		text-align: center;
		margin-bottom: 10px;
	}
	&__text-section-comments{
		color: #a2a2a2;
		font-size: 17px;
		text-align: center;
		max-width: 900px;
		line-height: 115%;
	}
	@media(max-width: 450px) {
		&__comments-title{
			font-size: 20px;
		}
		&__head-section-comments{
			margin-bottom: 20px;
		}
	}
}

.comments-container{
	display: flex;
	padding: 0px 0px 30px 0px;
	&__column{
		&:first-child{
			flex: 0 1 70%;
			margin-right: 15px;
		}
		&:last-child{
			flex: 0 1 30%;
		}
	}
	@media(max-width: 1000px) {
		flex-direction: column-reverse;
		&__column{
			flex: 0 1 100%;
			&:first-child{
				margin: 0px;
			}
			&:last-child{
				margin-bottom: 15px;
			}
		}
	}
	&__title{
		font-size: 22px;
		color: #ffffff;
		margin-bottom: 15px;
	}
	&__message-last-week{
		img{
			width: 60px;
			height: 60px;
		}
	}
	&__message-main-wall{
		img{
			width: 90px;
			height: 90px;
		}
	}
}

.block-last-week{
	&__comment{
		border-radius: 2px !important;
		box-shadow: 0 0 3px 0px #000;
		margin-bottom: 25px;
		background: #16202d;
		&:last-child{
			margin-bottom: 0px;
		}
	}
	&__head{
		padding: 10px;
		background: #171a21a4;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;
		box-shadow: 0 0 3px 0px #000;
	}
	&__content{
		padding: 6px;
	}
	&__status{
		display: flex;
		align-items: center;
	}
	&__icon{
		flex: 0 0 30px;
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}
	&__logo-factory{
		flex: 0 0 30px;
		height: 30px;
		width: 30px;
	}
	&__text-status{
		color: #ffffff;
		font-weight: 600;
	}
	&__date{
		color: #a2a2a2;
	}
	&__nickname{
		color: #2EBFFF;
		margin-bottom: 7px;
		a{
			color: #ffffff;
			@media(min-width: 992px) {
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	&__rank-user{
		text-align: right;
		margin-bottom: 15px;
	}
	&__container-text-comment{
		overflow: hidden;
	}
	&__text-comment{
		color: #a2a2a2;
		font-size: 16px;
		line-height: 110%;
	}
	&__container-more-btn{
		margin-top: 7px;
		padding-bottom: 5px;
		display: flex;
		justify-content: flex-end;
	}
	&__more-comment{
		transition: color 0.4s ease 0s;
		color: #2EBFFF;
		font-weight: 600;
		@media(min-width: 992px) {
			&:hover{
				color: #007cb1;
			}
		}
	}
}

.block-activity-comment{
	border-top: 1px solid #a2a2a2;
	padding: 15px 0px;
	&__line{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__reaction{
		transition: background 0.3s ease 0s;
		display: flex;
		align-items: center;
		margin-right: 7px;
		font-size: 16px;
		color: #2EBFFF;
		background: #252f3e;
		border-radius: 2px;
		padding: 5px;
		box-shadow: 0 0 3px 0px #000;
		&:last-child{
			margin-right: 0;
		}
		@media(min-width: 992px) {
			&:hover{
				background: #333f51;
			}
		}
	}
	&__icon-reaction{
		flex: 0 0 16px;
		width: 20px;
		height: 20px;
		margin-right: 4px;
	}
}

.block-main-wall{
	&__title{
		text-transform: uppercase;
		font-size: 22px;
		color: #ffffff;
		margin-bottom: 15px;
		span{
			color: #2EBFFF;
			font-size: 33px;
			font-weight: bold;
		}
	}
	&__list{
		display: flex;
		flex-direction: column;
	}
	&__container-link{
		margin-top: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		a{
			transition: color 0.3s ease 0s;
			font-size: 17px;
			color: #ffb400;
			@media(min-width: 992px) {
				&:hover{
					color: #ac7800;
				}
			}
		}
		@media(max-width: 500px) {
			margin-top: 20px;
			a{
				text-align: center;
			}
		}
	}
	.extended-comment__content-right{
		margin: 0px -10px -10px 0px;
	}
}

@media(max-width: 725px) {
	.block-main-wall{
		.extended-comment{
			flex-direction: column;
			&__column-comment{
				flex: 0 1 100%;
				&:first-child{
					margin: 0px 0px 25px 0px;
				}
			}
		}
	}
}
