.extended-comment{
	display: flex;
	margin-bottom: 25px;
	box-shadow: 0 0 3px 0px #000;
	border-radius: 2px;
	padding: 10px;
	background: #0f151e;
	&:last-child{
		margin-bottom: 0;
	}
	&__column-comment{
		min-height: 100%;
		&:first-child{
			flex: 0 1 35%;
			margin-right: 10px;
		}
		&:last-child{
			flex: 0 1 65%;
		}
	}
	&__row-left-column{
		display: flex;
	}
	&__avatar-container{
		transition: box-shadow 0.4s ease 0s;
		flex: 0 0 90px;
		height: 90px;
		width: 90px;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 10px;
		box-shadow: 0 0 5px 0px #000;
		@media(min-width: 992px) {
			&:hover{
				box-shadow: 0 0 5px 2px #8AF9AD;
			}
		}
	}
	&__avatar-img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__nickname{
		color: #2EBFFF;
		font-size: 17px;
		a{
			color: #ffffff;
			@media(min-width: 992px) {
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	&__rank{
		font-size: 15px;
		line-height: 115%;
	}
	&__nickname,&__rank,&__comments-user{
		margin-bottom: 7px;
	}
	&__comments-user,&__reviews-user{
		color: #ffffff;
		span{
			color: #ffb400;
		}
	}
	&__content-right{
		padding: 0px 10px 10px 10px;
		box-shadow: 0 0 3px 0px #000;
		margin: 0px -10px -10px 0px;
		display: flex;
		flex-direction: column;
	}
	&__container-basic-info{
		flex: 1 1 100%;
	}
	&__right-head{
		display: flex;
		justify-content: space-between;
		background: #171a21a4;
		padding: 10px;
		margin: -10px -10px 15px -10px;
		box-shadow: 0 0 8px 0px #000;
	}
	&__column-head{
		display: flex;
		align-items: center;
	}
	&__icon-status{
		flex: 0 0 40px;
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
	&__logo-icon{
		flex: 0 0 40px;
		width: 40px;
		height: 40px;
	}
	&__status-text{
		color: #ffffff;
		font-size: 17px;
		font-weight: 500;
	}
	&__funny,&__awards,&__consonants,&__disagree,&__sucks,&__like-block,&__dislike-block{
		margin-bottom: 7px;
		font-size: 16px;
		color: #ffffff;
		span{
			color: #ffb400;
		}
	}
	&__sucks,&__like-block,&__dislike-block{
		display: flex;
		align-items: center;
	}
	&__poo,&__like,&__dislike{
		flex: 0 0 40px;
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
	&__sucks,&__like-block,&__dislike-block{
		span{
			margin-left: 5px;
		}
	}
	&__date{
		color: #2EBFFF;
		font-size: 16px;
		margin-bottom: 17px;
		span{
			color: #ffffff;
		}
	}
	&__container-text-comment{
		margin: 15px 0px;
		overflow: hidden;
	}
	&__text-comment{
		color: #41c6ffb2;
		font-size: 17px;
		line-height: 110%;
	}
	&__container-btn{
		display: flex;
		justify-content: flex-end;
		margin-bottom: 10px;
	}
	&__more-btn{
		font-weight: 600;
		transition: color 0.3s ease 0s;
		color: #2EBFFF;
		font-size: 17px;
		@media(min-width: 992px) {
			&:hover{
				color: #007cb1;
			}
		}
	}
}

// Блок со знаком сообщения и карандаша (ответы комментарию)
.container-his-discussions{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__text{
		font-size: 17px;
		color: #ffffff;
	}
	&__link{
		transition: background 0.3s ease 0s;
		display: flex;
		align-items: center;
		padding: 5px;
		background: #ffffff1e;
		border-radius: 4px;
		img{
			flex: 0 0 35px;
			width: 35px;
			height: 35px;
			margin-right: 10px;
		}
		span{
			font-size: 25px;
			color: #ffb400;
			font-weight: 600;
		}
		@media(min-width: 992px){
			&:hover{
				background: #ffffff60;
			}
		}
	}
}