.form{
	display: flex;
	flex-direction: column;
	&__label-input{
		display: inline-block;
		color: #ffffff;
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 7px;
	}
	&__label-select,&__recaptcha-label{
		display: inline-block;
		color: #ffffff;
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 7px;
	}
	&__input-block{
		margin-bottom: 25px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__select-block{
		margin-bottom: 20px;
	}
	&__input{
		box-shadow: 0 0 3px 0px #000;
		color: #E9E9E9;
		font-size: 16px;
		width: 100%;
		display: inline-block;
		padding: 15px 10px;
		background: #32353C;
	}
	&__select{
		width: 100%;
		padding: 15px 10px;
		border-radius: 5px !important;
		border: 2px solid #004cda;
		background: #32353C;
		color: #E9E9E9;
		font-size: 16px;
	}
	&__input-container{
		border: 2px solid rgb(0, 76, 218);
		overflow: hidden;
		border-radius: 5px !important;
		&.active{
			position: relative;
			&:before{
				content: "";
				position: absolute;
				width: 47px;
				height: 100%;
				top: 0;
				right: 0;
				background: rgb(0, 76, 218);
			}
			.form__input{
				padding: 15px 50px 15px 10px;
			}
		}
	}
	&__input-error,&__recaptcha-error{
		margin-top: 7px;
		color: #8AF9AD;
		font-weight: 500;
	}
	&__input-container{
		position: relative;
	}
	&__checkbox{
		width: 16px;
		height: 16px;
		margin-right: 10px;
	}
	&__checkbox-label{
		color: #ffffff;
		font-size: 18px;
		line-height: 130%;
	}
	&__checkbox-error{
		color: #2EBFFF;
		font-size: 18px;
		margin-top: 10px;
	}
	&__checkbox-block, &__recaptcha-field{
		margin-bottom: 25px;
	}
	&__recaptcha-field{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.password__svg{
	position: absolute;
	width: 35px;
	height: 35px;
	z-index: 150;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	cursor: pointer;
}