.game-block{
	&__head-container{
		width: 100%;
		min-height: 810px;
		position: relative;
	}
}

.container-head-game-block{
	&__reset-poster{
		transition: color 0.4s ease 0s;
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px;
		background: #171a21;
		color: #00FFAA;
		z-index: 55;
		font-size: 17px;
		box-shadow: 0 0 3px 0px #000;
		@media(min-width: 992px) {
			&:hover{
				color: #ffb400;
			}
		}
	}
	&__poster{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__publisher{
		font-weight: 700;
		position: absolute;
		bottom: 20px;
		left: 20px;
		z-index: 10;
		font-size: 27px;
		color: #ffffff;
	}
	&__publish-link{
		transition: color 0.4s ease 0s;
		margin-top: 7px;
		color: #8AF9AD;
		display: block;
		@media(min-width: 992px) {
			&:hover{
				color: #4e9966;
				text-decoration: underline;
			}
		}
	}
	&__activity-menu{
		border-top: 1px solid #d2d2d2;
		overflow: hidden;
		position: absolute;
		background: #171a21;
		padding: 25px;
		right: 20px;
		bottom: -130px;
		z-index: 150;
		border-radius: 15px;
		max-width: 650px;
		box-shadow: 0 0 3px 0px #000;
	}
}

.game-activity-menu{
	&__head-row{
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	&__icon{
		flex: 0 0 30px;
		height: 60px;
		width: 60px;
		margin-right: 20px;
	}
	&__title{
		font-size: 25px;
		color: #ffffff;
		text-transform: uppercase;
	}
	&__tags{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15px;
		span{
			margin: 0px 10px 7px 0px;
			background: linear-gradient(135deg, #00FFAA 0%, #4579F5 53.01%, #9C42F5 99.83%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			font-size: 16px;
			font-weight: 600;
			&:last-child{
				margin: 0px 0px 7px 0px;
			}
		}
	}
	&__text{
		font-style: italic;
		font-size: 18px;
		color: #ffffff;
		margin-bottom: 15px;
		line-height: 130%;
	}
	&__price{
		box-shadow: 0 0 3px 0px #000;
		background: #ffb400;
		padding: 15px;
		margin: 0px -25px 20px -25px;
		font-size: 19px;
		font-weight: 600;
	}
	&__rate-block{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
		span{
			color: #8AF9AD;
			font-size: 45px;
			font-weight: 700;
			margin: 0px 35px;
			letter-spacing: 2px;
		}
	}
	&__icon-container{
		cursor: pointer;
		background: #d1d1d158;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		flex: 0 0 50px;
		border-radius: 50%;
		img{
			width: 30px;
			height: 30px;
		}
	}
	&__buttons-container{
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
	}
	&__btn{
		transition: background 0.3s ease 0s, border 0.3s ease 0s;
		padding: 15px 10px;
		border-radius: 5px;
		box-shadow: 0 0 3px 0px #000;
		font-size: 25px;
		color: #ffffff;
		font-weight: bold;
		border: 3px solid transparent;
		&_action{
			background: #319bff;
			@media(min-width: 992px) {
				&:hover{
					background: #0044e2;
					border: 3px solid #59afff;
				}
			}
		}
		&_give{
			background: #8AF9AD;
		}
		&_desired{
			background: #a8a8a8;
		}
	}
	&__date{
		font-size: 18px;
		color: #ffffff;
		margin-bottom: 17px;
		span{
			color: #8AF9AD;
		}
	}
	&__block-developer{
		margin-bottom: 15px;
	}
	&__block-developer,&__block-publisher{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__instruments-icon,&__publisher-icon{
		flex: 0 0 45px;
		height: 45px;
		width: 45px;
		margin-bottom: 7px;
	}
	&__developer,&__text-publisher{
		font-size: 16px;
		color: #ffffff;
		a{
			transition: color 0.4s ease 0s;
			color: #8AF9AD;
			@media(min-width: 992px) {
				&:hover{
					color: #49b66c;
					text-decoration: underline;
				}
			}
		}
	}
}

.data-slider-game{
	position: relative;
	&:before{
		content: "";
		position: absolute;
		width: 33%;
		right: 0;
		top: 0;
		height: 100%;
		background: #1B2533;
		z-index: 30;
	}
	&__list{
		display: flex;
		width: 67%;
		transition: transform 0.4s ease 0s;
	}
	&__slide{
		transition: border 0.4s ease 0s;
		box-shadow: 0 0 3px 0px #000;
		width: 20%;
		flex: 0 0 20%;
		height: 140px;
		position: relative;
		border: 7px solid #171a21;
		cursor: pointer;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 5;
		}
		&:before{
			transition: border-bottom 0.4s ease 0.1s;
			content: "";
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom: 23px solid transparent;
		}
		&.active{
			border: 7px solid #67c1f5;
			&:before{
				border-bottom: 23px solid #67c1f5;
			}
		}
	}
}

.controller-game-page{
	width: 67%;
	display: flex;
	justify-content: space-between;
	margin: 15px 0px 65px 0px;
	&__btn{
		transition: background 0.3s ease 0s;
		width: 55px;
		height: 30px;
		background: #00FFAA;
		border-radius: 4px;
		box-shadow: 0 0 3px 0px #000;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		&:before{
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-right: 20px solid #171a21;
			border-bottom: 10px solid transparent;
			z-index: 40;
		}
		&_next{
			&:before{
				border-right: none;
				border-left: 20px solid #171a21;
			}
		}
		@media(min-width: 992px) {
			&:hover{
				background: #079e6c;
			}
		}
		&.no-active{
			pointer-events: none;
			opacity: 0.5;
		}
	}
	&__band{
		width: 100%;
		height: 30px;
		background: #171a21;
		border-radius: 6px;
		margin: 0px 10px;
		box-shadow: 0 0 3px 0px #000;
		display: flex;
		align-items: center;
		position: relative;
		span{
			position: absolute;
			transition: background 0.3s ease 0s;
			flex: 0 0 100px;
			width: 100px;
			height: 20px;
			background: #67c1f561;
			border-radius: 5px;
			cursor: pointer;
			@media(min-width: 992px) {
				&:hover{
					background: #00FFAA;
				}
			}
		}
	}
}