.game-block{
	overflow: hidden;
	&__head-container{
		width: 100%;
		min-height: 810px;
		position: relative;
		@media(max-width: 1300px) {
			min-height: 1370px;
		}
	}
	&__message-middle{
		padding: 20px;
		img{
			width: 270px;
			height: 270px;
		}
		.lite-message{
			&__title{
				max-width: 1000px;
				line-height: 120%;
				font-size: 22px;
			}
			&__offer{
				max-width: 800px;
				font-size: 19px;
				line-height: 115%;
			}
		}
		@media(max-width: 450px) {
			img{
				width: 150px;
				height: 150px;
			}
			.lite-message{
				&__title{
					font-size: 18px;
					font-weight: 600;
				}
				&__offer{
					font-size: 15px;
				}
			}
		}
	}
}

// Верхняя часть - ПОСТЕР (Admin Layot)
.container-head-game-block{
	display: flex;
	height: 100%;
	@media(max-width: 1300px) {
		flex-direction: column;
	}
	&__column{
		&_left{
			flex: 0 1 50%;
			padding: 10px 0px 0px 10px;
			@media(max-width: 1300px) {
				flex: 0 1 100%;
				padding: 20px;
			}
		}
		&_rigth{
			flex: 0 1 50%;
			padding: 10px 20px 10px 10px;
			display: flex;
			justify-content: flex-end;
			@media(max-width: 2065px) {
				align-items: center;
				padding: 10px 10px 30px 10px;
			}
			@media(max-width: 1300px) {
				flex: 1 1 100%;
				justify-content: center;
				align-items: flex-end;
				height: 100%;
				padding: 10px 10px 63px 10px;
			}
		}
	}
	&__reset-poster{
		transition: color 0.4s ease 0s;
		position: absolute;
		bottom: 20px;
		left: 0;
		padding: 20px;
		background: #171a21;
		color: #00FFAA;
		z-index: 55;
		font-size: 17px;
		box-shadow: 0 0 3px 0px #000;
		@media(min-width: 992px) {
			&:hover{
				color: #ffb400;
			}
		}
		@media(max-width: 1300px) {
			padding: 7px;
			left: auto;
			right: 0;
		}
	}
	&__poster{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__publisher{
		font-weight: 700;
		font-size: 27px;
		color: #ffffff;
		position: relative;
		z-index: 10;
	}
	&__publish-link{
		transition: color 0.4s ease 0s;
		margin-top: 7px;
		color: #8AF9AD;
		display: block;
		@media(min-width: 992px) {
			&:hover{
				color: #4e9966;
				text-decoration: underline;
			}
		}
	}
	&__activity-menu{
		border-top: 1px solid #d2d2d2;
		overflow: hidden;
		background: #171a21;
		padding: 25px;
		position: relative;
		bottom: -147px;
		z-index: 150;
		border-radius: 15px !important;
		max-width: 650px;
		box-shadow: 0 0 3px 0px #000;
		@media(max-width: 2065px) {
			bottom: 0px;
		}
		@media(max-width: 1300px) {
			max-width: 100%;
			flex: 0 1 100%;
		}
		@media(max-width: 600px) {
			padding: 10px;
		}
	}
}

// Стили для menu (Справа окошко, где кнопки "купить", "скачать" и т.д.) (Admin Layot)
.game-activity-menu{
	&__head-row{
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	&__icon{
		flex: 0 0 30px;
		height: 60px;
		width: 60px;
		margin-right: 20px;
	}
	&__title{
		font-size: 25px;
		color: #ffffff;
		text-transform: uppercase;
	}
	&__tags{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15px;
		span{
			margin: 0px 10px 7px 0px;
			background: linear-gradient(135deg, #00FFAA 0%, #4579F5 53.01%, #9C42F5 99.83%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			font-size: 16px;
			font-weight: 600;
			&:last-child{
				margin: 0px 0px 7px 0px;
			}
		}
	}
	&__text{
		font-style: italic;
		font-size: 18px;
		color: #ffffff;
		margin-bottom: 15px;
		line-height: 130%;
	}
	&__price{
		box-shadow: 0 0 3px 0px #000;
		background: #ffb400;
		padding: 15px 25px;
		margin: 0px -25px 20px -25px;
		font-size: 19px;
		font-weight: 600;
	}
	&__rate-block{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
		span{
			color: #8AF9AD;
			font-size: 45px;
			font-weight: 700;
			margin: 0px 35px;
			letter-spacing: 2px;
		}
	}
	&__icon-container{
		cursor: pointer;
		transition: background 0.4s ease 0s;
		background: #d1d1d158;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		flex: 0 0 50px;
		border-radius: 50% !important;
		img{
			width: 30px;
			height: 30px;
		}
		@media(min-width: 992px) {
			&:hover{
				background: #e6e6e675;
			}
		}
	}
	&__buttons-container{
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		@media(max-width: 500px) {
			margin-bottom: 15px;
		}
	}
	&__btn{
		transition: background 0.3s ease 0s, border 0.3s ease 0s;
		padding: 15px 10px;
		border-radius: 5px !important;
		box-shadow: 0 0 3px 0px #000;
		font-size: 25px;
		color: #ffffff;
		font-weight: bold;
		border: 3px solid transparent;
		@media(max-width: 500px) {
			font-size: 18px;
			padding: 10px;
		}
		&_action{
			background: #319bff;
			@media(min-width: 992px) {
				&:hover{
					background: #0044e2;
					border: 3px solid #59afff;
				}
			}
		}
		&_give{
			background: #8AF9AD;
			margin-top: 15px;
			@media(min-width: 992px) {
				&:hover{
					background: #529c69;
					border: 3px solid #8AF9AD;
				}
			}
			@media(max-width: 500px) {
				margin-top: 10px;
			}
		}
		&_desired{
			background: #a8a8a8;
			margin-top: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			img{
				flex: 0 0 30px;
				height: 30px;
				margin-right: 15px;
			}
			@media(min-width: 992px) {
				&:hover{
					background: #777777;
					border: 3px solid #a8a8a8;
				}
			}
			@media(max-width: 500px) {
				margin-top: 10px;
			}
		}
	}
	&__date{
		font-size: 18px;
		color: #ffffff;
		margin-bottom: 17px;
		line-height: 125%;
		span{
			color: #8AF9AD;
		}
	}
	&__block-developer{
		margin-bottom: 15px;
	}
	&__block-developer,&__block-publisher{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__instruments-icon,&__publisher-icon{
		flex: 0 0 45px;
		height: 45px;
		width: 45px;
		margin-bottom: 7px;
	}
	&__developer,&__text-publisher{
		line-height: 125%;
		font-size: 16px;
		color: #ffffff;
		a{
			transition: color 0.4s ease 0s;
			color: #8AF9AD;
			@media(min-width: 992px) {
				&:hover{
					color: #49b66c;
					text-decoration: underline;
				}
			}
		}
	}
}

// Стили для полосы слайдов (Сразу под главным постером) (Admin Layot)
.data-slider-game{
	position: relative;
	padding-bottom: 60px;
	@media(min-width: 1300px) {
		&:before{
			content: "";
			position: absolute;
			width: 33%;
			right: 0;
			top: 0;
			height: 56%;
			background: #1B2533;
			z-index: 30;
		}
	}
	@media(max-width: 1100px) {
		padding-bottom: 25px;
	}
	&__list{
		display: flex;
		width: 67%;
		transition: transform 0.4s ease 0s;
		@media(max-width: 1300px) {
			width: 100%;
		}
	}
	&__slide{
		transition: border 0.4s ease 0s;
		box-shadow: 0 0 3px 0px #000;
		width: 20%;
		flex: 0 0 20%;
		height: 140px;
		position: relative;
		border: 7px solid #171a21;
		cursor: pointer;
		@media(max-width: 800px) {
			flex: 0 0 25%;
		}
		@media(max-width: 600px) {
			flex: 0 0 33.333%;
		}
		@media(max-width: 460px) {
			flex: 0 0 50%;
		}
		@media(max-width: 319px) {
			flex: 0 0 100%;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 5;
		}
		&:before{
			transition: border-bottom 0.4s ease 0.1s;
			content: "";
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom: 23px solid transparent;
		}
		&.active{
			border: 7px solid #67c1f5;
			&:before{
				border-bottom: 23px solid #67c1f5;
			}
		}
	}
}

// Стили для контроллера (Стрелки и ползунок) (Admin Layot)
.controller-game-page{
	width: 67%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	@media(max-width: 1300px) {
		width: 100%;
	}
	&__btn{
		transition: background 0.3s ease 0s;
		width: 55px;
		height: 55px;
		background: #00FFAA;
		border-radius: 4px !important;
		box-shadow: 0 0 3px 0px #000;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px 15px 0px 0px;
		@media(max-width: 500px) {
			height: 30px;
		}
		&:before{
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-right: 20px solid #171a21;
			border-bottom: 10px solid transparent;
			z-index: 40;
		}
		&_next{
			margin: 0px 0px 0px 15px;
			&:before{
				border-right: none;
				border-left: 20px solid #171a21;
			}
		}
		@media(min-width: 992px) {
			&:hover{
				background: #079e6c;
			}
		}
		&.no-active{
			opacity: 0.5;
			background: #079e6c;
		}
	}
	&__band{
		width: 100%;
		height: 55px;
		background: #171a21;
		border-radius: 6px !important;
		box-shadow: 0 0 3px 0px #000;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 300;
		
		span{
			position: absolute;
			transition: background 0.3s ease 0s;
			flex: 0 0 100px;
			width: 100px;
			height: 47px;
			background: #67c1f561;
			border-radius: 5px !important;
			cursor: pointer;
			@media(min-width: 992px) {
				&:hover{
					background: #00FFAA;
				}
			}
			@media(max-width: 900px) {
				width: 50px;
			}
			&.no-active{
				pointer-events: none;
				opacity: 0.4;
			}
		}
		@media(max-width: 500px) {
			height: 40px;
			span{
				height: 30px;
			}
		}
	}
}

// Стили для описания (сразу под слайдером) (Admin Layot)
.game-about-block{
	margin: 10px 15px 70px 15px;
	padding-bottom: 30px;
	border-bottom: 1px solid #c9c9c9;
	&__title{
		width: 67%;
		font-size: 65px;
		margin-bottom: 25px;
		color: #ffffff;
		font-weight: 600;
	}
	&__text{
		width: 67%;
		font-size: 18px;
		line-height: 130%;
		color: #c9c9c9;
	}
	@media(max-width: 2065px) {
		&__title{
			width: 100%;
		}
		&__text{
			width: 100%;
		}
	}
	@media(max-width: 876px) {
		&__title{
			margin-bottom: 15px;
			font-size: 50px;
		}
	}
	@media(max-width: 650px) {
		margin: 10px 15px 30px 15px;
		&__title{
			font-size: 40px;
		}
	}
	@media(max-width: 420px) {
		&__title{
			font-size: 30px;
		}
	}
}

// Стили для блока с карточками (Admin Layot)
.blocks-game-page{
	margin-bottom: 70px;
	@media(max-width: 1000px) {
		margin-bottom: 25px;
	}
	&__container{
		display: flex;
		padding-bottom: 30px;
		border-bottom: 1px solid #c9c9c9;
	}
	&__column{
		&:first-child{
			flex: 0 1 20%;
			margin-right: 20px;
		}
		&:last-child{
			flex: 0 1 80%;
		}
	}
	@media(max-width: 1000px) {
		&__container{
			flex-direction: column;
		}
		&__column{
			width: 100%;
			flex: 0 1 100%;
			&:first-child{
				margin: 0px 0px 15px 0px;
			}
		}
	}
	&__title{
		font-size: 35px;
		color: #ffffff;
		font-weight: 600;
		line-height: 120%;
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px -35px -15px;
	}
	&__element{
		flex: 0 1 50%;
		padding: 0px 15px 0px 15px;
		margin-bottom: 35px;
		@media(max-width: 630px) {
			flex: 0 1 100%;
		}
	}
	&__img-container{
		position: relative;
		padding: 0px 0px 50% 0px;
		border-radius: 10px !important;
		overflow: hidden;
		margin-bottom: 15px;
		box-shadow: 0 0 3px 0px #000;
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__title-block{
		color: #4579F5;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 20px;
		@media(max-width: 630px) {
			margin-bottom: 7px;
		}
	}
	&__paragraph{
		font-size: 17px;
		line-height: 120%;
		color: #a0a0a0;
	}
}

// Стили для блока "System Requirements" (Admin Layot)
.system-requirements-game{
	margin-bottom: 70px;
	&__container{
		display: flex;
		padding-bottom: 30px;
		border-bottom: 1px solid #c9c9c9;
	}
	&__column{
		&:first-child{
			flex: 0 1 20%;
			margin-right: 20px;
		}
		&:last-child{
			flex: 0 1 80%;
		}
	}
	@media(max-width: 1000px) {
		margin-bottom: 25px;
		&__container{
			flex-direction: column;
		}
		&__column{
			flex: 0 1 100%;
			&:first-child{
				margin: 0px 0px 15px 0px;
			}
		}
	}
	&__title{
		font-size: 35px;
		color: #ffffff;
		font-weight: 700;
		line-height: 120%;
		text-transform: uppercase;
		@media(max-width: 565px) {
			font-size: 30px;
		}
	}
	&__btn-platform{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 15px;
		font-size: 19px;
		font-weight: 600;
		color: #ffffff;
		padding: 15px 0px;
		position: relative;
		img{
			flex: 0 0 50px;
			height: 50px;
			margin-right: 10px;
		}
		&:last-child{
			margin-right: 0;
		}
		&.active{
			background: #ffffff0a;
			&:before{
				transition: background 0.2s ease 0s;
				content: "";
				position: absolute;
				z-index: 5;
				left: 0;
				bottom: -3px;
				background: #0044e2;
				height: 4px;
				border-radius: 2px !important;
				width: 100%;
			}
		}
		@media(min-width: 992px) {
			&:hover{
				&:before{
					background: #2EBFFF;
				}
			}
		}
	}
	&__platforms{
		display: flex;
		border-bottom: 1px solid #a7a7a749;
		margin-bottom: 40px;
		@media(max-width: 500px) {
			flex-direction: column;
		}
	}
	&__list-system{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -20px;
	}
	&__requirement{
		flex: 0 1 50%;
		padding: 0px 10px;
		margin-bottom: 20px;
		@media(max-width: 500px) {
			flex: 0 1 100%;
		}
	}
	&__title-req{
		color: #d5d7dd;
		font-size: 29px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	&__text{
		color: #bcbcbc;
		font-size: 18px;
		line-height: 130%;
	}
}

// Стили для секции с комментариями (Admin Layot)
.comments-game-block{
	&__title{
		color: #fff;
		font-size: 25px;
		margin-bottom: 15px;
		text-transform: uppercase;
		line-height: 110%;
		@media(max-width: 640px) {
			font-size: 20px;
		}
	}
}