.board-honor-wrapper{
	&__message-middle{
		padding: 15px 15px 25px 15px;
		img{
			width: 150px;
			height: 150px;
		}
		p{
			max-width: 850px;
		}
	}
	&__slider-container{
		padding: 120px 0px;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background: rgba(0, 0, 0, 0.5);
			z-index: 3;
		}
	}
}

.slider-board-honor{
	background: url("../img/confetti.jpg") 0 0/cover fixed;
	&__title{
		text-transform: uppercase;
		font-size: 60px;
		line-height: 115%;
		color: #fff;
		font-weight: 600;
		margin-bottom: 35px;
		text-shadow: 1px 1px 1px #000;
	}
	&__wrapper{
		display: flex;
		overflow: hidden;
		align-items: center;
	}
	&__column{
		&_first{
			flex: 0 1 55%;
			background: url("../img/backgroundScrinBlock.jpg") 0 0/cover repeat;
			margin-right: 20px;
			height: 550px;
		}
		&:last-child{
			flex: 0 1 45%;
			padding-right: 115px;
			height: 700px;
		}
	}
	&__container{
		position: relative;
		z-index: 50;
		max-width: 1450px;
		margin: 0 auto;
		padding: 0px 10px;
	}
}

.column-first-slider-board{
	padding: 25px;
	box-shadow: 0 0 8px 0px #000;
	position: relative;
	display: flex;
	flex-direction: column;
	&__element1,&__element2{
		position: absolute;
		z-index: 20;
	}
	&__element1{
		top: 0;
		left: 0;
		&:before,&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: #ffb400;
			transition: all 0.4s ease 0s;
		}
		&:before{
			height: 5px;
			width: 0px;
		}
		&:after{
			height: 0px;
			width: 5px;
		}
	}
	&__element2{
		bottom: 0;
		right: 0;
		&:before,&:after{
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			background: #ffb400;
			transition: all 0.4s ease 0s;
		}
		&:before{
			height: 0px;
			width: 5px;
		}
		&:after{
			height: 5px;
			width: 0px;
		}
	}
	&__head{
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		justify-content: space-between;
	}
	&__icon{
		width: 90px;
		height: 90px;
	}
	&__title{
		font-size: 20px;
		color: #fff;
		margin-bottom: 15px;
		font-weight: 600;
		margin-right: 15px;
	}
	&__row{
		display: flex;
		flex: 1 1 auto;
	}
	&__column{
		&:first-child{
			flex: 0 1 35%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin-right: 10px;
		}
		&:last-child{
			flex: 0 1 65%;
			display: flex;
			flex-direction: column;
		}
	}
	&__container-avatar{
		position: relative;
		overflow: hidden;
		width: 200px;
		height: 200px;
		box-shadow: 0 0 8px 0px #000;
		transition: box-shadow 0.3s ease 0s;
		margin-bottom: 15px;
		@media(min-width: 992px) {
			&:hover{
				box-shadow: 0 0 8px 0px #8AF9AD;
			}
		}
	}
	&__avatar{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 30;
	}
	&__link-nick{
		color: #ffb400;
		font-size: 18px;
		font-weight: 500;
		transition: color 0.3s ease 0s;
		@media(min-width: 992px) {
			&:hover{
				color: #c68a00;
			}
		}
	}
	&__date-reg{
		font-size: 17px;
		color: #fff;
		margin-bottom: 10px;
		span{
			color: #8AF9AD;
		}
	}
	&__rank-title{
		font-size: 16px;
		margin-bottom: 15px;
		font-weight: 500;
	}
	&__lvl{
		color: #8AF9AD;
		font-size: 18px;
		margin-bottom: 10px;
		text-align: right;
	}
	&__statistics-block{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	&__title-statistics{
		color: #fff;
		font-size: 20px;
		margin-bottom: 15px;
		font-weight: 600;
	}
	&__comments{
		margin-bottom: 10px;
	}
	&__comments,&__reviews{
		font-size: 16px;
		color: #fff;
		line-height: 107%;
		span{
			color: #8AF9AD;
		}
	}
	&__container-points{
		display: flex;
		justify-content: flex-end;
	}
	&__points{
		background: #8af9ad1c;
		color: #fff;
		span{
			color: #ffb400;
		}
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		padding: 15px;
		box-shadow: 0 0 8px 0px #000;
	}
	&__link-profile{
		color: #8AF9AD;
		font-size: 16px;
		margin-bottom: 10px;
		display: inline-block;
		transition: color 0.3s ease 0s;
		@media(min-width: 992px) {
			&:hover{
				text-decoration: underline;
				color: #68b781;
			}
		}
	}
	&__content{
		flex: 1 1 auto;
		margin-bottom: 15px;
	}
}

@media(min-width: 992px) {
	.column-first-slider-board:hover{
		.column-first-slider-board__element1{
			&:before{
				width: 140px;
			}
			&:after{
				height: 140px;
			}
		}
		.column-first-slider-board__element2{
			&:before{
				height: 140px;
			}
			&:after{
				width: 140px;
			}
		}
	}
}

.honor-board-slider{
	display: flex;
	flex-direction: column;
	height: 100%;
	&__slide{
		flex: 0 0 25%;
		height: 25%;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 32px 0px;
		transition: all 0.4s ease 0s;
		&.half{
			opacity: 0.6;
		}
	}
	&__image-wrapper{
		position: relative;
		height: 100%;
		flex: 0 0 150px;
		box-shadow: 0 0 8px 0px #000;
		cursor: pointer;
	}
	&__image{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 20;
	}
	&__flag1,&__flag2,&__flag3,&__flag4{
		position: absolute;
		z-index: 22;
		height: 100%;
	}
	&__flag1{
		top: 0;
		left: 0;
		&:after,&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: #ffb400;
			z-index: 22;
			transition: width 0.4s ease 0s, height 0.4s ease 0s;
		}
		&:after{
			height: 5px;
		}
		&:before{
			height: 100%;
		}
	}
	&__flag2{
		bottom: 0;
		right: 0;
		&:after,&:before{
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			background: #ffb400;
			z-index: 22;
			transition: width 0.4s ease 0s, height 0.4s ease 0s;
		}
		&:after{
			height: 5px;
		}
		&:before{
			height: 100%;
		}
	}
	&__flag3,&__flag4{
		background: #ffb400;
		transition: all 0.3s ease 0s;
		height: 5px;
	}
	&__flag3{
		bottom: 0;
		left: 0;
	}
	&__flag4{
		top: 0;
		right: 0;
	}
	&__tagline-die{
		background: #ffb400;
		height: 70px;
		width: 0;
		padding: 15px;
		position: relative;
		left: 35px;
		opacity: 0;
		transition: width 1.2s ease 0s;
		overflow: hidden;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			border-top: 70px solid transparent;
			border-left: 208px solid #d19200e5;
			border-bottom: 1px solid transparent;
		}
	}
	&__close-el{
		position: absolute;
		height: 70px;
		width: 80px;
		background: #ffb400;
		z-index: 10;
		top: 50%;
		right: 0;
		transition: transform 0.6s ease 0s;
		opacity: 0;
		transform: translate(-50%, -50%);
		span{
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 70px solid transparent;
			border-right: 80px solid #d19200e5;
			border-bottom: 1px solid transparent;
		}
	}
	&__slogan-txt{
		color: #fff;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		z-index: 5;
	}
}

.honor-board-slider__slide.active{
	.honor-board-slider__image-wrapper{
		flex: 0 0 205px;
		left: 35px;
		box-shadow: none;
	}
	.honor-board-slider__flag1,.honor-board-slider__flag2{
		&:after{
			width: 50px;
		}
		&:before{
			width: 5px;
		}
	}
	.honor-board-slider__flag3,.honor-board-slider__flag4{
		width: 50px;
	}
	.honor-board-slider__tagline-die{
		width: 100%;
		opacity: 1;
	}
	.honor-board-slider__close-el{
		opacity: 1;
		transform: translate(100%, -50%);
	}
}