.registration-block{
	&__container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__content{
		flex: 0 1 450px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 50px 0px 10px 0px;
		max-width: 450px;
		width: 100%;
	}
	&__icon-img{
		width: 90px;
		flex: 0 0 90px;
		margin-bottom: 25px;
	}
	&__title{
		font-size: 34px;
		color: #ffffff;
		font-weight: 700;
		margin-bottom: 25px;
	}
	&__sub-title{
		font-weight: 700;
		color: #b9babc;
		font-size: 27px;
		margin-bottom: 18px;
	}
	&__message{
		color: #d0d0d0;
		font-size: 18px;
		margin-bottom: 20px;
		font-weight: 700px;
		line-height: 130%;
		text-align: center;
	}
	&__slider{
		margin-top: 40px;
		@media(max-width: 430px) {
			margin-top: 15px;
		}
	}
}

.slider-registration{
	width: 100%;
	overflow: hidden;
	&__wrapper{
		transition: transform 0.3s ease 0s;
		display: flex;
		align-items: flex-start;
	}
	&__slide{
		flex: 0 0 100%;
	}
	&__btn-next{
		transition: background 0.4s ease 0s, border 0.3s ease 0s, opacity 0.3s ease 0s;
		font-weight: 500;
		padding: 15px;
		font-size: 18px;
		background: rgb(0, 76, 218);
		border: 1px solid rgb(0, 76, 218);
		color: #ffffff;
		min-width: 200px;
		box-shadow: 0 0 3px 0px #000;
		align-self: center;
		@media(min-width: 992px) {
			&:hover{
				background: none;
				border: 1px solid #2EBFFF;
			}
		}
		&.no-active{
			opacity: 0.3;
			pointer-events: none;
		}
	}
	&__btn-prev{
		transition: color 0.6s ease 0s;
		font-size: 20px;
		color: rgb(0, 76, 218);
		margin-top: 20px;
		font-weight: 500;
		@media(min-width: 992px) {
			&:hover{
				color: #2EBFFF;
			}
		}
	}
	&__block-birthday{
		margin-bottom: 25px;
	}
	&__quote-block{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__quote{
		font-size: 35px;
		font-style: italic;
		color: #2EBFFF;
		margin-bottom: 25px;
		font-weight: 600;
		line-height: 135%;
	}
	&__pagins-list{
		margin-top: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__pagin{
		flex: 0 0 10px;
		height: 10px;
		margin-right: 10px;
		background: #171a21;
		border-radius: 50% !important;
		&:last-child{
			margin-right: 0;
		}
		&.target{
			background: #8AF9AD;
			flex: 0 0 15px;
			width: 15px;
			height: 15px;
		}
		&.passed{
			background: #8AF9AD;
		}
	}
}

.birthday-block{
	margin-bottom: 25px;
	&__label{
		display: inline-block;
		color: #ffffff;
		font-size: 17px;
		font-weight: 600;
		margin-bottom: 7px;
	}
	&__group-birthday{
		width: 100%;
		padding: 15px 10px;
		border-radius: 5px !important;
		border: 2px solid #004cda;
		background: #32353C;
		color: #E9E9E9;
		font-size: 16px;
		span{
			margin: 0px 20px;
			font-size: 20px;
			font-weight: bold;
		}
		input{
			color: #E9E9E9;
			font-size: 16px;
			max-width: 60px;
		}
	}
	&__error{
		margin-top: 7px;
		color: #8AF9AD;
		font-weight: 500;
	}
}

.wrapper-additional-registration{
	flex: 0 1 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
	&__question{
		transition: color 0.3s ease 0s;
		font-size: 20px;
		color: #004cda;
		font-weight: 600;
		@media(min-width: 992px) {
			&:hover{
				color: #2EBFFF;
				cursor: help;
			}
		}
	}
	&__clarification{
		transform: opacity 0.8s ease 0s;
		position: absolute;
		bottom: 200%;
		left: 0;
		padding: 20px;
		background: #171a21;
		border-radius: 8px !important;
		border: 1px solid rgba(255,255,255,.12);
		color: #b9babc;
		z-index: 200;
		font-size: 19px;
		line-height: 120%;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		&.active{
			opacity: 1;
			visibility: visible;
		}
	}
	&__triangle-modal{
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 20px solid #171a21;
		position: absolute;
		z-index: 201;
		left: 50%;
		bottom: -15px;
		transform: translate(-50%, 0);
	}
}
