.slider-comments{
	position: relative;
	padding: 60px 0px;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.294);
		z-index: 5;
	}
	&__head{
		position: relative;
		z-index: 10;
		margin-bottom: 25px;
	}
	&__title{
		color: #fff;
		text-transform: uppercase;
		font-size: 25px;
		margin-bottom: 15px;
	}
	&__sub-title{
		line-height: 110%;
		color: rgb(218, 218, 218);
		font-size: 18px;
	}
	&__video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__paginations-wrap{
		display: flex;
		position: relative;
		z-index: 20;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
	&__pagin{
		transition: all 0.5s ease 0s;
		width: 20px;
		height: 20px;
		background: #494949;
		margin-right: 7px;
		border-radius: 50%;
		cursor: pointer;
		@media(min-width: 992px){
			&:hover{
				background: #7E7E7E;
			}
		}
		&:last-child{
			margin-right: 0;
		}
		&.active{
			background: #8AF9AD;
		}
	}
	&__automatic{
		margin-right: 15px;
		cursor: pointer;
		img{
			width: 25px;
			height: 25px;
		}
	}
}

.comments-slider-block{
	overflow: hidden;
	display: flex;
	position: relative;
	z-index: 7;
	box-shadow: 0 0 7px 0px #000;
	min-height: 550px;
	&__column{
		flex: 0 0 50%;
		background: #171a21;
		position: relative;
	}
	&__container-slides{
		transition: all 0.4s ease 0s;
		display: flex;
		flex-direction: column;
		height: 550px;
		position: relative;
		z-index: 25;
	}
	&__comment-title{
		color: #67ff97;
		font-size: 20px;
		font-weight: 500;
		position: absolute;
		top: 10px;
		left: 10px;
	}
	&__controller{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 30;
		display: flex;
	}
	&__arrow-block{
		transition: all 0.5s ease 0s;
		background: #17191c63;
		padding: 3px;
		img{
			width: 40px;
			height: 40px;
		}
		&_right{
			img{
				transform: rotate(180deg);
			}
		}
		@media(min-width: 992px){
			&:hover{
				background: #5a5a5adc;
			}
		}
	}
	&__container-comments{
		display: flex;
		flex-direction: column;
		transition: all 0.4s ease 0s;
		height: 550px;
		position: relative;
		z-index: 25;
	}
	&__comment-item{
		
	}
}

.wrap-poster-comments-slider{
	position: relative;
	flex: 0 0 100%;
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 15;
	}
	&__game-title{
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		font-size: 25px;
		z-index: 20;
		padding: 20px;
		background: rgba(0, 0, 0, 0.418);
	}
	&__footer{
		position: absolute;
		right: 20px;
		bottom: 20px;
		z-index: 20;
		display: flex;
		flex-direction: column;
	}
	&__price{
		color: #fff;
		align-self: flex-end;
		font-size: 18px;
		background: rgba(0, 0, 0, 0.63);
		padding: 15px;
		position: relative;
		right: -20px;
	}
	&__btn-car{
		transition: all 0.4s ease 0s;
		background: #8AF9AD;
		padding: 7px;
		border-radius: 5px;
		color: #17191C;
		font-size: 15px;
		font-weight: 600;
		margin-top: 10px;
		@media(min-width: 992px) {
			&:hover{
				background: #67ff97;
				transform: scale(0.9);
			}
		}
	}
}

.item-comment-comments-slider{
	flex: 0 0 100%;
	&__wrapper{
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	&__sub-comments-block{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}
	&__info{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 0px 5px 0px 55px;
		p{
			color: #fff;
			font-size: 18px;
			margin-bottom: 10px;
			line-height: 115%;
			span{
				color: #ffb400;
			}
		}
	}
	&__btn-comment-page{
		transition: transform 0.3s ease 0s;
		padding: 10px;
		color: #fff;
		font-size: 16px;
		border-radius: 6px;
		background: linear-gradient(135deg, #00FFAA 0%, #4579F5 53.01%, #9C42F5 99.83%);
		@media(min-width: 992px) {
			&:hover{
				transform: scale(0.9);
			}
		}
	}
}

.block-comments-sub{
	transition: all 0.4s ease 0s;
	&__slide{
		flex: 0 0 100%;
		height: 100%;
		position: relative;
	}
}

.comment-content-wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	&__date{
		color: #ffb400;
		font-size: 15px;
		margin: 10px 0;
		text-align: right;
	}
	&__text-comment{
		color: #ebebeb;
		font-size: 18px;
		line-height: 125%;
		margin-bottom: 10px;
		flex: 1 1 auto;
	}
}

.comments-controller{
	position: absolute;
	width: 100%;
	bottom: 15px;
	left: 0;
	padding: 0 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__info-page{
		color: #00FFAA;
		font-size: 16px;
	}
	&__prev,&__next{
		&:after,&:before{
			content: "";
			transition: background 0.3s ease 0s;
			position: absolute;
			background: #171a21;
			width: 12px;
			height: 2px;
		}
		&:after{
			top: 45%;
		}
		&:before{
			top: 63%;
		}
	}
	&__prev{
		&:after,&:before{
			left: 40%;
		}
		&:after{
			transform: translate(-50%, -50%) rotate(-25deg);
		}
		&:before{
			transform: translate(-50%, -50%) rotate(25deg);
		}
	}
	&__next{
		&:after,&:before{
			right: 10%;
		}
		&:after{
			transform: translate(-50%, -50%) rotate(205deg);
		}
		&:before{
			transform: translate(-50%, -50%) rotate(-205deg);
		}
	}
}

.btn-comments-controller{
	transition: background 0.3s ease 0s;
	position: relative;
	background: rgb(232, 170, 0);
	width: 37px;
	height: 24px;
	border-radius: 4px;
	@media(min-width: 992px) {
		&:hover{
			background: rgb(141, 103, 0);
			&:after,&:before{
				background: #fff;
			}
		}
	}
	&.active{
		pointer-events: none;
		background: rgb(96, 70, 0);
	}
}

.profile-comment{
	display: flex;
	align-items: center;
	&__column{
		&:first-child{
			flex: 0 1 50px;
			height: 50px;
			border-radius: 50%;
			position: relative;
			overflow: hidden;
			margin-right: 10px;
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__nick{
		color: #00FFAA;
		font-weight: bold;
	}
}
