.slider-comments{
	position: relative;
	min-height: 700px;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.294);
		z-index: 5;
	}
	&__head{
		padding-top: 30px;
		position: relative;
		z-index: 10;
	}
	&__title{
		color: #fff;
		text-transform: uppercase;
		font-size: 25px;
		margin-bottom: 15px;
	}
	&__sub-title{
		line-height: 110%;
		color: rgb(218, 218, 218);
		font-size: 18px;
	}
	&__video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}