.block-games-store{
	margin-bottom: 50px;
	&__title{
		color: #fff;
		text-transform: uppercase;
		font-size: 25px;
		margin-bottom: 35px;
		padding: 0px 15px;
		text-align: center;
		@media(max-width: 500px) {
			font-size: 20px;
			line-height: 125%;
			margin-bottom: 20px;
		}
		@media(max-width: 500px) {
			font-size: 18px;
		}
	}
	&__wrap-btn{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__additional-btn{
		transition: all 0.6s ease 0s;
		background: linear-gradient(180deg, #E2F685 0%, #8AF9AD 100%);
		padding: 10px 15px;
		border-radius: 6px !important;
		font-size: 15px;
		font-weight: 600;
		box-shadow: 0 0 3px 0px #000;
		@media(min-width: 992px) {
			&:hover{
				transform: scale(0.9);
			}
		}
		&.active{
			color: #fff;
			background: #4579F5;
		}
	}
	&__message{
		img{
			width: 250px;
			height: 250px;
		}
	}
}

.list-games-store{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	justify-content: center;
	&__column{
		flex: 0 0 20%;
		padding: 0px 15px;
		margin: 0px 0px 30px 0px;
		@media(max-width: 1580px) {
			flex: 0 0 25%;
		}
		@media(max-width: 1350px) {
			flex: 0 0 33.333%;
		}
		@media(max-width: 1000px) {
			flex: 0 0 50%;
		}
		@media(max-width: 600px) {
			flex: 0 0 100%;
		}
	}
	&__head-block{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex: 1 1 auto;
		margin-bottom: 10px;
		padding: 10px;
	}
	&__footer-block{
		padding: 10px;
	}
	&__price{
		color: rgb(200, 200, 200);
		font-size: 17px;
		font-weight: 600;
		margin-bottom: 7px;
	}
	&__rate{
		text-align: right;
		font-size: 25px;
		color: #8AF9AD;
	}
	&__old-price{
		font-size: 18px;
		text-decoration: line-through;
		text-align: right;
		color: #fff;
	}
	&__sale{
		font-size: 30px;
		color: rgb(198, 2, 2);
		margin-bottom: 10px;
	}
	&__image-wrap{
		width: 100%;
		position: relative;
		padding: 0px 0px 55% 0px;
		overflow: hidden;
		img{
			transition: all 0.5s ease 0s;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__card-game{
		transition: all 0.5s ease 0s;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		background: #23252B;
		box-shadow: 0 0 3px 0px #000;
		height: 100%;
		border-radius: 6px !important;
		@media(min-width: 992px) {
			&:hover{
				background: #36383f;
				.list-games-store__image-wrap{
					img{
						transform: scale(1.1);
					}
				}
			}
		}
	}
	&__icon{
		flex: 0 0 55px;
		width: 55px;
		height: 55px;
		margin-bottom: 10px;
	}
	&__list-platform{
		display: flex;
		margin-bottom: 20px;
		img{
			flex: 0 1 30px;
			width: 30px;
			height: 30px;
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	&__title{
		color: rgb(200, 200, 200);
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	&__text{
		color: #ffb400;
		font-size: 15px;
		margin-bottom: 15px;
	}
	&__list-tags{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
		span{
			margin: 0px 7px 7px 0px;
			font-size: 15px;
			font-weight: 600;
			background: linear-gradient(135deg, #00FFAA 0%, #4579F5 53.01%, #9C42F5 99.83%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}
	&__btn-car{
		align-self: flex-end;
		border: 1px solid #00FFAA;
		color: #00FFAA;
	}
	&__btn-more{
		align-self: flex-start;
		border: 1px solid #ffb400;
		color: #ffb400;
	}
}

.btn-card-game{
	transition: all 0.4s ease 0s;
	padding: 7px;
	font-size: 15px;
	border-radius: 4px !important;
	box-shadow: 0 0 3px 0px #000;
	@media(min-width: 992px) {
		&:hover{
			transform: scale(0.9);
		}
	}
}