// БАЗОВЫЙ ШРИФТ НА ВСЕМ САЙТЕ ==================================================================================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap&subset=cyrillic-ext");

// ДЕФОЛТНЫЙ ШРИФТ ВСЕГО ПРОЕКТА, тот который преобладает =======================================================
$fontFamily: "Montserrat", sans-serif;
//===============================================================================================================

// ОБНУЛЯЮЩИЕ СТИЛИ =============================================================================================
@import "ziro";
//===============================================================================================================

// ОСНОВНОЙ КОНТЕЙНЕР
.wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	&__content{
		flex: 1 1 auto;
		background: #1B2533;
	}
}

// ОБЩАЯ НАСТРАИВАЕМАЯ СТИЛИСТИКА

._container{
	max-width: 1320px;
	margin: 0 auto;
	padding: 0px 10px;
}


// Imports ФАЙЛОВ ДРУГИХ СУЩНОСТЕЙ ==============================================================================
@import "spinner";
@import "header";
@import "footer";
@import "homePage";
@import "sliderGallery";
@import "weHave";
@import "circleDance";
@import "categoryBlock";
