.we-have{
	&__title{
		position: relative;
		z-index: 10;
		font-weight: bold;
		font-size: 24px;
		line-height: 22px;
		text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
		margin-bottom: 45px;
		&.right{
			text-align: right;
		}
		&.left{
			text-align: left;
		}
		@media(max-width: 500px) {
			margin-bottom: 20px;
		}
	}
	&__block{
		display: flex;
		@media(max-width: 666px) {
			flex-direction: column;
		}
	}
	&__column{
		flex: 0 1 50%;
		&:first-child{
			position: relative;
			z-index: 10;
		}
		&:last-child{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		@media(max-width: 666px) {
			width: 100%;
			&:first-child{
				margin-bottom: 208px;
			}
		}
	}
	&__container{
		padding: 50px;
		border-radius: 20px;
		border-left: 1px solid #cbf1b223;
		@media(max-width: 1370px) {
			border-left: none;
		}
		@media(max-width: 666px) {
			padding: 20px;
		}
		margin: 150px auto;
		@media(max-width: 1090px) {
			margin: 100px auto;
		}
		@media(max-width: 900px) {
			margin: 60px auto;
		}
		@media(max-width: 800px) {
			margin: 30px auto;
		}
		@media(max-width: 666px) {
			margin: 170px auto;
		}
		&.left{
			border-left: none;
			border-right: 1px solid #cbf1b223;
			.we-have__title{
				text-align: right;
			}
			.we-have__column:first-child{
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.we-have__column:last-child{
				position: relative;
				z-index: 10;
				display: block;
			}
			@media(max-width: 1380px) {
				border-right: none;
			}
			@media(max-width: 666px) {
				margin: 170px 0px 0px 0px;
			}
		}
		&.right{
			@media(max-width: 666px) {
				margin: 40px 0px 170px 0px;
			}
		}
	}
	&__list{
		li{
			font-weight: bold;
			font-size: 16px;
			color: #fff;
			display: flex;
			align-items: center;
			margin-bottom: 25px;
			line-height: 105%;
			&:last-child{
				margin-bottom: 0;
			}
			span{
				flex: 0 0 19px;
				width: 19px;
				height: 8px;
				background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
				border-radius: 8px;
				display: inline-block;
				margin-right: 26px;
			}
		}
	}
	@media(max-width: 350px) {
		&__title{
			font-size: 20px;
		}
		&__list{
			li{
				font-size: 15px;
				span{
					margin-right: 10px;
				}
			}
		}
	}
}

.blocks-wrap-wehave{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -35px -15px;
	&__column{
		flex: 0 1 50%;
		padding: 0px 15px;
		margin-bottom: 35px;
		@media(max-width: 1120px) {
			flex: 0 1 100%;
		}
	}
	&__title{
		font-weight: 700;
		line-height: 20px;
		font-size: 17px;
		text-transform: uppercase;
		background: linear-gradient(135deg, #00FFAA 0%, #4579F5 53.01%, #9C42F5 99.83%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		margin-bottom: 27px;
	}
	&__block-wrap{
		transition: all 0.5s ease 0s;
		display: flex;
		background: rgba(0, 0, 0, 0.294);
		padding: 15px;
		height: 100%;
		border-radius: 20px;
		@media(min-width: 992px) {
			&:hover{
				background: rgba(0, 0, 0, 0.507);
			}
		}
	}
	&__icon{
		margin-right: 28px;
	}
	&__text{
		line-height: 20px;
		color: #fff;
		font-size: 15px;
	}
}