.we-have{
	margin-bottom: 100px;
	&__title{
		position: relative;
		z-index: 10;
		color: #ebee39;
		font-weight: bold;
		font-size: 24px;
		line-height: 22px;
		text-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
		margin-bottom: 45px;
	}
	&__block{
		display: flex;
	}
	&__column{
		flex: 0 1 50%;
		&:first-child{
			position: relative;
			z-index: 10;
		}
		&:last-child{
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__container{
		padding: 50px;
		border-radius: 20px;
		border-left: 1px solid #cbf1b223;
	}
	&__list{
		li{
			font-weight: bold;
			font-size: 16px;
			color: #fff;
			display: flex;
			align-items: center;
			margin-bottom: 25px;
			line-height: 105%;
			&:last-child{
				margin-bottom: 0;
			}
			span{
				width: 19px;
				height: 8px;
				background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
				border-radius: 8px;
				display: inline-block;
				margin-right: 26px;
			}
		}
	}
}