.control-wide-scale-slider{
	position: absolute;
	top: 50%;
	background: rgb(59, 59, 59);
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.15);
	transition: all 0.2s ease 0s;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		width: 23px;
		height: 23px;
	}
	@media(min-width: 992px){
		&:hover{
			background: rgb(100, 100, 100);
			border: 2px solid rgb(59, 59, 59);
		}
	}
}

.wide-scale-slider{
	padding: 50px 0;
	position: relative;
	z-index: 50;
	&__title{
		font-size: 27px;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		padding: 0px 10px;
		margin-bottom: 25px;
	}
	&__wrapper{
		overflow: hidden;
		height: 750px;
		position: relative;
	}
	&__body{
		display: flex;
		height: 100%;
		transition-property: all;
		transition-timing-function: ease-out;
		transition-delay: 0s;
	}
	&__column{
		flex: 0 0 80%;
		position: relative;
		margin-right: 30px;
		border-radius: 8px;
		overflow: hidden;
		&.active{
			border: 2px solid rgb(155, 155, 155);
		}
		&:last-child{
			margin-right: 0;
		}
		&_first{
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&_additional{
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
		}
	}
	&__block-add{
		flex: 0 0 50%;
		position: relative;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name{
		position: absolute;
		top: 50%;
		left: 50%;
		color: #fff;
		z-index: 10;
		font-size: 75px;
		font-weight: 600;
		background: rgba(150, 150, 150, 0.6);
		padding: 10px;
		transform: translate(-50%, -50%);
		text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px;
		text-align: center;
	}
	&__content{
		position: absolute;
		z-index: 5;
		right: 20px;
		bottom: 90px;
		display: flex;
		flex-direction: column;
	}
	&__text{
		color: #fff;
		font-size: 125px;
		font-weight: 600;
		text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px;
		margin-bottom: 25px;
		text-align: right;
	}
	&__btn{
		align-self: flex-end;
		font-size: 30px;
		padding: 10px 20px;
		border: 2px solid rgba(255, 255, 255, 0.15);
		border-radius: 100px;
		background: #4579F5;
		color: #fff;
		transition: all 0.2s ease 0s;
		@media(min-width: 992px) {
			&:hover{
				transform: scale(0.9);
				background: #6996ff;
			}
		}
	}
	&__btn-prev{
		left: 10%;
		transform: translate(-50%, -50%);
		img{
			transform: rotate(180deg) translateX(20%);
		}
	}
	&__btn-next{
		right: 10%;
		transform: translate(85%, -50%);
	}
	&__pagination{
		position: absolute;
		z-index: 1000;
		left: 50%;
		bottom: 50px;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__pagin{
		transition: all 0.3s ease 0s;
		flex: 0 0 100px;
		height: 12px;
		background: rgb(153, 153, 153);
		border-radius: 4px;
		margin-right: 12px;
		cursor: pointer;
		&.active{
			background: #009dff;
		}
		&:last-child{
			margin-right: 0px;
		}
		@media(min-width: 992px) {
			&:hover{
				background: rgb(207, 207, 207);
				&.active{
					background: #0075be;
				}
			}
		}
	}
}

